<div class="span12 center">
	<h1>Contact Us</h1>
	<p>Feel free to shoot an email to <a href="mailto:support@simpleshirts.co">support</a></p>
	<p>Follow us on the twitters <a href="http://twitter.com/simpleshirtsco">@simpleshirts</a></p>
</div>
